# License files
*.key

# Folders
/.idea/
/_dictionaries/
/codestyles/*
/colors/*
/consoles/
/eval/
/extensions/
/javascript/
/jdbc-drivers/
/options/*
/plugins/
/scratches/
/settingsRepository/
/sonarlint/
/tasks/
/terminal/
/workspace/

# Files
/disabled_*
/port
/port.lock
/user.web.token
/pdb.pwd
/c.kdbx
/c.pwd
/settings.jar
/phpstorm64.exe.vmoptions
.toolbox*

# Options
!/options/editor.xml
!/options/colors.scheme.xml
!/options/baseRefactoring.xml
!/options/code.style.schemes.xml
!/options/file.template.settings.xml
!/options/filetypes.xml
!/options/keymap.xml
!/options/laf.xml
!/options/project.default.xml
!/options/projectView.xml
!/options/material_custom_theme.xml
!/options/material_theme.xml
!/options/ui.lnf.xml
!/options/macros.xml

# Editor Themes
!/colors/Webber.icls

# Code Styles
!/codestyles/Webber.xml
