# License files
*.key

# Folders
/codestyles/*
/colors/*
/consoles/db/
/extensions/
/jdbc-drivers/
/options/*
/plugins/
/settingsRepository/
/tasks/
/scratches/
/sonarlint/
/javascript/
/eval/
/.idea/

# Files
/disabled_*
/port
/port.lock
/user.web.token
/pdb.pwd
/c.kdbx
/settings.jar
/phpstorm64.exe.vmoptions
"
# Options
!/options/editor.xml
!/options/colors.scheme.xml
!/options/baseRefactoring.xml
!/options/code.style.schemes.xml
!/options/file.template.settings.xml
!/options/filetypes.xml
!/options/keymap.xml
!/options/laf.xml
!/options/project.default.xml
!/options/projectView.xml
!/options/ui.lnf.xml
!/options/usage.statistics.xml

# Editor Themes
!/colors/One Dark Webber.icls

# Code Styles
!/codestyles/Webber.xml

